body {
    background-color: #f4e3d2;
}

div {
    text-align: center;
    display: flex;
    color: #333;
}

.categories {
    flex-direction: column;
    border: 5px solid #a9a8a8;
    background: #d9dbda;
    margin: 10px;
    padding-top: 30px;

    padding-bottom: 30px; 
}

.yellow-beige {
    background-color: #ccccbe;
}

.white-beige {
    background-color: #faf0e6;
}

.proj-pic {
    width: 300px;
    height: auto;
}

.person-pic {
    width: 200px;
    height: auto;
    padding: 10px;
}

#biography {
    justify-content: space-between;
    align-items: center;
}



#all-projects {
    justify-content: space-between;
    margin: 50px;
    flex-wrap: wrap;
    align-items: center;
}


.project {
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    padding: 20px;
    border: 5px solid #bcb9b9;
    font-weight: bold;
    margin: 10px;
    flex-shrink: 0;
}


